<div class="show-hide-input" margin-top>
  <ion-input required color="dark" class="input" #input clearOnEdit="false" placeholder="Contraseña" [type]="getType()" (ionFocus)="onFocus.next(true)" (ionBlur)="onChange($event, input.value)">
  </ion-input>
  <ion-button class="visibilityBtn" type="button" (click)="isHidden = !isHidden">
    <ion-icon slot="icon-only" [name]="getIcon()"></ion-icon>
  </ion-button>
</div>
