app-show-hide-input{
    width: 100%;

    ion-item {
        --background: rgba(0, 0, 0, 0);
        --border-color: rgba(0,0,0,0);
        .input {
            background-color: #D0D1D3;
            position: initial;
        }
    }

    .show-hide-input {
        position: relative;

    .visibilityBtn {
        z-index: 2;
        background-color: transparent;
        box-shadow: none;
        color: white;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;

        ion-icon {
            font-size: 20px;
            padding: 0;
            height: 70%;
        }
    }
  }
}