app-login {
  ion-content { 
    --background: black url("../../../assets/img/fondo.PNG") no-repeat center center / cover; 
  }

  .form{
    margin: 31px;
  }

  .title {
    margin-bottom: 30px;
    p {
      color: white;
      font-size: 37px;
      margin: auto
    }
  }

  .button-login{
    font-size: 21px;
    font-weight: normal;
  }

  ion-icon {
    font-size: 35px;
  }

  ion-item {
    --background: rgba(0, 0, 0, 0);
    --border-color: rgba(0,0,0,0);
  }

  .input {
    background-color: #D0D1D3;
    position: initial;
  }

  ion-header {
    .back-button-icon{
      color: black;
    }
  }

  .toolbar {
    .toolbar-background{
      background: transparent;
    }
  }

  .header-ios .toolbar-background-ios {
    border-style: none;
  }

  .scroll-content {
    padding-top: 50px !important;
  }

  a {
    text-decoration: none;
  }

  .logo {
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    display: flex;
    height: 13%;

    img {
      max-width: 150px;
      margin: auto;
    }
  }

  .button {
    height: 2.6rem;
    margin-top: 20px;
  }

  .button-generic {
    color: white;
    margin: 31px;
  }


  form{
    background: none;
  }

  form > .list {
    margin: -1px 0 16px;
  }

  .list > .item-block {
    border: none !important;
  }

  @media (min-width: 480px) {
    .logo {
      margin: -70px auto 0 auto;
      background-size: contain !important;
      width: 60%;
      height: 24%;
    }
  }

  // Tablet styles
  @media (min-width: 576px) {
    form {
      button[ion-button][full], button[ion-button][block] {
        font-size: 1.7rem;
        height: 4rem;
        margin-top: 1.5rem !important;
      }
    }
    h1 {
      font-size: 2.3rem;
    }
    .logo {
      margin-top: 228px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      background-size: contain !important;
      width: 60%;
      height: 24%;
    }
  }
}
  