<ion-content class="background">
  <img class="logo" src="../../../assets/img/logo-login.png">
  <div class="title">
    <p text-center margin-top class="title-text text-center">Ingresa</p>
    <p text-center margin-top class="title-text text-center">tus datos</p>
  </div>
  <div class="form">
    <form [formGroup]="signinForm" novalidate (ngSubmit)="onSignin(signinForm.controls)">
      <ion-list style="background-color: transparent;">
        <ion-item no-padding margin-top>
          <ion-icon name="person" slot="start" color="light"></ion-icon>
          <ion-input class="input" required color="dark" clearInput margin-top type="email" placeholder="Email"
            formControlName="username">
          </ion-input>
        </ion-item>
        <ion-item no-padding margin-top>
          <ion-icon name="lock" slot="start" color="light"></ion-icon>
          <app-show-hide-input item-content required formControlName="password">
          </app-show-hide-input>
        </ion-item>
      </ion-list>
      <ion-button color="primary" padding-right padding-left class="button button-generic" type="submit" size="medium"
        expand="full" [disabled]="loading">
        <ion-spinner name="bubbles" padding-right slot="start" color="light" padding-left *ngIf="loading"></ion-spinner>
        <p class="button-login" padding-top padding-bottom color="light">INGRESAR</p>
      </ion-button>
    </form>
  </div>
</ion-content>